.tableCell {
  .cellWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .status {
    width: 50px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
  }

  .Approved {
    color: green;
    background-color: rgb(220, 234, 220);
  }

  .Pending {
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
  }
}
