.home {
  display: flex;

  .nav-cont {
    display: flex;
    flex-direction: column;
    flex: 6;
  }

  .widgets {
    display: flex;
    margin: 15px;
    gap: 10px;
  }

  .charts {
    display: flex;
    margin: 15px;
  }

  .list-container {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;

    .list-title {
      font-weight: 500;
      color: gray;
      margin: 15px;
    }
  }
}
