.widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;

  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }

    .counter {
      font-size: xx-large;
    }

    .link {
      text-decoration: underline;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    height: 100px;
    padding: 5px;

    .difference {
      display: flex;
      align-items: center;
      gap: 4px;
      color: green;
      font-weight: 500;
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
    }
  }
}
